.bestContactInfoSection{
    border: 1px solid;
    background-color:white;
    width: 100%;
}

li{
  list-style: none;

 
}
a{
    text-decoration: none;
    color: white;
  
}

.mainNav{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.landNavLi{
    grid-area: navli;
    border: 2px solid transparent;
    box-shadow: var(--shadow-glow);
    border-radius: 10px 0px 10px 0px;
    width: 20rem;
    margin: 15px 35px 15px 5px;
    padding: 14px 12px;
    text-align: center;
}
.landNavLi:hover{
  transform: scale(1.1);
  color: aqua;
}

.landNavSectionContainer{
  display: flex;
  justify-content: flex-start;
  height: 22rem;
}

.profileimg{
  /* background-image: url('../img/profile-pic2.png'); */
  width: 20rem;
  height: 100%;
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
}

.imgSection{
  display: flex;
  justify-content: flex-start;
  margin: 0 0 0 10rem;
  width: 100%;
  height: 20rem;
  border: 1px solid ;
}

.contactCard{
  font-size: 30px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  /* margin: 0 0 0 2rem; */
  width:100%;

}


.contactNumber{
  text-shadow: var(--shadow-glow);
}
