@import './views-styles/aboutMe.css';
@import './views-styles/techSkills.css';

.appStyle {
    background: linear-gradient(black 48%,cyan);
    display: grid;
    grid-template-areas: "";
    gap: 5;
    height: 100vh;

} 

.parallax{
    background-image: url("./img/dark-hexagonal-background-with-gradient-color_79603-1409.avif");

    min-height: 40px;
    height: 40px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
  font-size: 100px;
}

.landingSections{
  text-align: center; 
}