@import './views-styles/aboutMe.css';
@import './views-styles/techSkills.css';
@import './views-styles/projects.css';

.appStyle {
    background: linear-gradient(rgb(6, 58, 187),rgb(4, 25, 76) ,black 48%);
    /* display: grid;
    grid-template-areas: "";
    gap: 5; */
    height: 100vh;
} 

.parallax{
    background-image: url("./img/bgpic.jpg");
    min-height: 40px;
    height: 40px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landingSections{
  text-align: center; 
}
.landingSections h2{
  font-size: 3rem;
}

.aboutParallax{
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.aboutContainer{
  width: 80%;
}