

.about{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    overflow: hidden;
    background-color: black;
  }
  .about p{
    width: 60%;
    font-size: 2em;
    line-height: 1.5em;
    color:whitesmoke;
  }
  .about h2{
    color: cyan;
  }
  .about hr{
    height: 20px;
    width: 80%;
    background-color: darkcyan;
    color: white;
    border-radius: 50%;
  }

  .pTagBg{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(darkcyan 48%,black, black);

  }