
.landingHeader{
    font-size: 65px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color:darkcyan;
    margin-bottom:1.2rem;
  }
  
  .title{
    font-size: 35px;
    color: cyan;
  }